.chat-container-class {
  position: relative;
  height: 75vh; 
  width: 60vw; 
  margin-left: 180px;
}

.review-icon {
  width: 25px;
  margin-top: -18px;
}

.fa-icon {
  font-size: 1.2rem;
  cursor: pointer;
  color: #383838;
}

.lang-btn-mob {
  background-color:#0F7876;
  color: #ffffff;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

@media only screen and (max-width: 768px) {
  .chat-container-class {
    height: 80vh; 
    width: 78vw; 
    margin-left: 20vw;
  }

  .typing-indicator {
    width: 45%;
  }
  
  .lang-btn-mob {
    padding: 10px;
    font-size: 0.8rem;
    width: 120px;
    border-radius: 10px;
  }
}